body{
    text-align: center;
}

.trolley{
    background-color: rgb(251, 169, 46);
    margin:10px;
    width: 150px;
    height: 40px;
    color: aliceblue;
    font-weight: 700;

}
.trolleyImg {
    width: 100px;
    height: 100px;
}
.trolleyButton{
    margin-left: 150px;
font-weight: 700;
    background-color: rgb(251, 169, 46);
    color: aliceblue;

}

.head{
    font-weight: 700;
    font-size: 50px;
}
.cardStyle{
    width: 22rem;
     border: none;
}
.allCards{
    display:flex;
     justify-content:center;
      align-items:center
}
.cardImg{
    height:16rem
}
.cardButton{
   background-color: black;
    width: 300px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.removeIcon{
    width: 20px;
    height: 20px;
}

.checkButton {
    width: 200px;
    height: 40px;
    background-color: black;
    border-radius: 15px;
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
}